{% extends "base.html.twig" %}

{% block main %}
  <div class="row">
    <div class="col-12 mt-3">
      <h1 class="h3 mb-3 d-flex justify-content-between">
        Mes dossiers
        <a href="#" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#createFolderModal">
          <i class="ri-add-line"></i>
          Nouveau dossier
        </a>
      </h1>
      <table class="table table-striped table-hover" id="folderList">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Nom</th>
            <th scope="col">Modifié le</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for folder in folders %}
            <tr>
              <th scope="row" data-folder-id>{{ folder.folder.id }}</th>
              <td>
                <a href="{{ path('app_folder_show', {id: folder.folder.id}) }}" class="link-custom" data-folder-name>
                  {{ folder.folder.name|capitalize }}
                </a>
              </td><!-- Lien vers la page show -->
              <td data-folder-date>{{ (folder.folder.updatedAt ?? folder.folder.createdAt)|date('d/m/Y H:i:s') }}</td>
              <td>
                <div class="d-flex gap-3 justify-content-center">
                  <button 
                    data-folder-properties 
                    type="button" 
                    class="btn btn-ghost-primary btn-icon btn-sm favourite-btn"
                    data-href="{{ path('app_folder_api_show', {id: folder.folder.id}) }}"
                  ><i class="ri-information-line fs-17 align-bottom"></i></button>
                  <div class="dropdown">
                    <button 
                      type="button"
                      class="btn btn-light btn-icon btn-sm dropdown"                       
                      data-bs-toggle="dropdown" 
                      aria-expanded="false"
                    ><i class="ri-more-fill align-bottom"></i></button>
                    <ul class="dropdown-menu dropdown-menu-end" style="">
                      <li>
                        <a 
                          data-folder-rename 
                          class="dropdown-item edit-list" 
                          href="{{ path('app_folder_api_edit', {id: folder.folder.id}) }}" 
                          data-bs-target="#renameFolderModal" 
                          data-bs-toggle="modal" 
                          role="button"
                        >Renommer</a>
                      </li>
                      <li>
                        <a data-folder-archieved class="dropdown-item viewfile-list" href="#">
                          Archiver
                        </a>
                      </li>
                      <li class="dropdown-divider"></li>
                      <li>
                        <a 
                          data-folder-delete 
                          class="dropdown-item remove-list" 
                          href="#" 
                          data-bs-target="#removeFolderModal" 
                          data-bs-toggle="modal" 
                          role="button"
                        >Supprimer</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% include "default/modals/createFolder.html.twig" %}
  <template id="folderRowTemplate">
    <tr>
      <th scope="row" data-folder-id></th>
      <td>
        <a href="#" class="link-custom" data-folder-name>
        </a>
      </td><!-- Lien vers la page show -->
      <td data-folder-date></td>
      <td>
        <div class="d-flex gap-3 justify-content-center">
          <button 
            data-folder-properties 
            data-href="#" 
            type="button" 
            class="btn btn-ghost-primary btn-icon btn-sm favourite-btn"
          ><i class="ri-information-line fs-17 align-bottom"></i></button>
          <div class="dropdown">
            <button class="btn btn-light btn-icon btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="ri-more-fill align-bottom"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" style="">
              <li>
                <a 
                  data-folder-rename
                  class="dropdown-item edit-list" 
                  href="#" 
                  data-bs-target="#renameFolderModal" 
                  data-bs-toggle="modal" 
                  role="button"
                >Renommer</a>
              </li>
              <li>
                <a 
                  data-folder-archieved
                  class="dropdown-item viewfile-list" 
                  href="#"
                >Archiver</a>
              </li>
              <li class="dropdown-divider"></li>
              <li>
                <a
                  data-folder-delete
                  class="dropdown-item remove-list" 
                  href="#" 
                  data-bs-target="#removeFolderModal" 
                  data-bs-toggle="modal" 
                  role="button"
                >Supprimer</a>
              </li>
            </ul>
          </div>
        </div>
      </td>
    </tr>
  </template>
{% endblock %}

{% block javascripts %}
  <script>
    const API_CREATE_FOLDER = "{{ url('app_folder_api_create') }}"; 
  </script>
  <script src="{{ asset('js/app/folder.js') }}"></script>
{% endblock %}